:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login_form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: auto;
  min-width: 600px;
  display: flex;
}
.input-width {
  width: 400px;
}

.error_message {
  color: red;
}
.input-btn-width {
  width: 200px;
}
