<div class="type_form">
  <form [formGroup]="typeForm" (ngSubmit)="onSubmit()">
    <fieldset class="form-group border p-3">
      <legend>Categories</legend>


      <div class="category-type-center">
        <mat-form-field appearance="legacy">
          <mat-label>Types</mat-label>
          <mat-select (selectionChange)="loadCategory($event)">
            <mat-option *ngFor="let type of types" [value]="type">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      &nbsp;
      &nbsp;
      <div class="table-center">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Code Column -->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
            (click)="goToDetailView(row);"></tr>
        </table>

        <br>

        <button mat-raised-button color="primary" id="createCategory" type="button" class="pull-center"
          class="add-type-btn" (click)="goToAddView($event)">
          Create Category </button>

      </div>

    </fieldset>

  </form>
</div>
