<mat-toolbar>

  <button mat-icon-button [routerLink]="['home']">
    <mat-icon [routerLink]="['home']">home</mat-icon>
  </button>
  <span>Activity Tracking System</span>
  <span class="example-spacer"></span>

  <button mat-raised-button color="primary" [routerLink]="['activity/type']">
    Type
  </button>
  &nbsp; &nbsp;
  <button mat-raised-button color="primary" [routerLink]="['activity/category']">
    Category
  </button>
  &nbsp; &nbsp;
  <button mat-raised-button color="primary" [routerLink]="['activity/subcategory']">
    SubCategory
  </button>

  &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
  <button mat-raised-button color="primary" [routerLink]="['tracking']">
    Tracking
  </button>
  &nbsp; &nbsp;
  <span *ngIf="constantHelperService.IS_USER_AUTHENTICATED"> Welcome
    {{constantHelperService.LOGGED_IN_USER.firstName}}</span>
  &nbsp; &nbsp;
  <button mat-raised-button color="primary" [matMenuTriggerFor]="settingsMenu">
    <mat-icon>settings</mat-icon>
  </button>

  <mat-menu #settingsMenu>
    <menu mat-menu-item [routerLink]="['login']" *ngIf="!constantHelperService.IS_USER_AUTHENTICATED">Login</menu>
    <menu mat-menu-item [routerLink]="['signup']" *ngIf="!constantHelperService.IS_USER_AUTHENTICATED">SignUp</menu>
    <menu mat-menu-item (click)="logout()" *ngIf="constantHelperService.IS_USER_AUTHENTICATED">Logout</menu>
  </mat-menu>


</mat-toolbar>

<div class="content-placeholder">
  <router-outlet></router-outlet>
</div>
