<mat-toolbar>

  <button mat-icon-button [routerLink]="['home']">
    <mat-icon [routerLink]="['home']">home</mat-icon>
  </button>
  <span>Activity Tracking System</span>
  <span class="example-spacer"></span>

  <button mat-raised-button color="primary" [routerLink]="['activity/type']">
    Type
  </button>
  &nbsp; &nbsp;
  <button mat-raised-button color="primary" [routerLink]="['activity/category']">
    Category
  </button>
  &nbsp; &nbsp;
  <button mat-raised-button color="primary" [routerLink]="['activity/subcategory']">
    SubCategory
  </button>
  &nbsp; &nbsp;
  <button mat-raised-button color="primary" [matMenuTriggerFor]="settingsMenu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #settingsMenu>
    <menu mat-menu-item [routerLink]="['login']">Login</menu>
    <menu mat-menu-item [routerLink]="['signup']">SignUp</menu>
    <menu mat-menu-item (click)="logout()">Logout</menu>
  </mat-menu>


</mat-toolbar>

<div class="content-placeholder">
  <router-outlet></router-outlet>
</div>
