<div class="type_form">
  <form [formGroup]="typeForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend> Track Activities </legend>

      <div class="category-type-center">
        <mat-form-field appearance="legacy" class="input-width">
          <mat-label>Tracking Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
      </div>
      <div class="category-type-center">
        <mat-form-field appearance="legacy" class="input-width">
          <mat-label>Types</mat-label>
          <mat-select (selectionChange)="loadCategory($event)" formControlName="type">
            <mat-option *ngFor="let type of types" [value]="type">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="category-type-center">
        <mat-form-field appearance="legacy" class="input-width">
          <mat-label>Categories</mat-label>
          <mat-select (selectionChange)="loadSubcategory($event)" formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div formArrayName="details" *ngFor="let t of details.controls; let i = index">
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Beneficiary</mat-label>
          <input matInput formControlName="beneficiary" id="{{'beneficiary'+i}}">
        </mat-form-field>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Quantity</mat-label>
          <input matInput formControlName="quantity" type="number" id="{{'quantity'+i}}">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tracking Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="trackingDate" id="{{'trackingDate'+i}}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-icon class="delete-btn" (click)="deleteTrackingDetail(i)">
          delete_forever</mat-icon>

      </div>

      <button mat-mini-fab (click)="addLesson()">
        <mat-icon class="add-course-btn">add</mat-icon>
      </button>
      &nbsp;
      &nbsp;
      <div>
        <button mat-raised-button color="primary" id="loginBtn" type="submit" class="pull-right" class="input-width">
          Add Tracking </button>
      </div>

    </fieldset>

  </form>
</div>
